{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="__ACSS__/Total_backstage.css"/>
</head>
<body>

<!--
            	作者：offline
            	时间：2018-05-15
            	描述：内容部分
            -->
<div class="bad_order content">
    <div class="content_con">
        <!--标题-->
        <div class="title bad_title">
            <p><a href="javascript:;" class="bad_ac">系统管理平台首页</a></p>
        </div>

        <!--内容-->
        <div class="total_con">
            <div class="total_serach titem" style="">
                <div class="titem-left">
                    <div class="titem-l1">
                        <div class="titem-l11">
                            <div class="l-box">
                                <h3>今日数据</h3>

                                <a href="javascipt:;">有效订单
                                    <text>1</text>
                                </a>
                                <a href="javascipt:;">营业额
                                    <text>1</text>
                                </a>
                                <a href="javascipt:;">新增用户数
                                    <text>1</text>
                                </a>
                            </div>
                        </div>
                        <div class="titem-l12">
                            <div class=" l-box1">
                                <h3>昨日营业统计</h3>
                                <div >
                                    <ul style="overflow: hidden">
                                        <li>
                                            <a href="javascript:;">
                                                <p>营业额（元）</p>

                                                <div class="num">33.54</div>
                                                <div class="pre">
                                                    <p>对比前一日</p>
                                                    <span class="down"><i style="vertical-align: middle"> <img
                                                            style="border: none" src="__AIMG__/xia.png" width="14px"
                                                            alt=""/></i>82.88%</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <p>营业额（元）</p>

                                                <div class="num">33.54</div>
                                                <div class="pre">
                                                    <p>对比前一日</p>
                                                    <span class="down"><i style="vertical-align: middle"> <img
                                                            style="border: none" src="__AIMG__/xia.png" width="14px"
                                                            alt=""/></i>82.88%</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <p>营业额（元）</p>

                                                <div class="num">33.54</div>
                                                <div class="pre">
                                                    <p>对比前一日</p>
                                                    <span class="down"><i style="vertical-align: middle"> <img
                                                            style="border: none" src="__AIMG__/xia.png" width="14px"
                                                            alt=""/></i>82.88%</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <p>营业额（元）</p>

                                                <div class="num">33.54</div>
                                                <div class="pre">
                                                    <p>对比前一日</p>
                                                    <span class="down"><i style="vertical-align: middle"> <img
                                                            style="border: none" src="__AIMG__/xia.png" width="14px"
                                                            alt=""/></i>82.88%</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <p>营业额（元）</p>

                                                <div class="num">33.54</div>
                                                <div class="pre">
                                                    <p>对比前一日</p>
                                                    <span class="down"><i style="vertical-align: middle"> <img
                                                            style="border: none" src="__AIMG__/xia.png" width="14px"
                                                            alt=""/></i>82.88%</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <p>营业额（元）</p>

                                                <div class="num">33.54</div>
                                                <div class="pre">
                                                    <p>对比前一日</p>
                                                    <span class="down"><i style="vertical-align: middle"> <img
                                                            style="border: none" src="__AIMG__/xia.png" width="14px"
                                                            alt=""/></i>82.88%</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div class="titem-l1 titem-l2 shixiang">
                        <div class="l-box2 ">
                            <h3>待处理事项</h3>
                            <ul>
                                <li>
                                    <a href="http://waimai.jhcms.cn/admin/?waimai/order-index-1-2.html">待配送订单（外卖）
                                        <text class="num fr">129</text>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://waimai.jhcms.cn/admin/?waimai/order-index-1-2.html">待配送订单（外卖）
                                        <text class="num fr">129</text>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://waimai.jhcms.cn/admin/?waimai/order-index-1-2.html">待配送订单（外卖）
                                        <text class="num fr">129</text>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://waimai.jhcms.cn/admin/?waimai/order-index-1-2.html">待配送订单（外卖）
                                        <text class="num fr">129</text>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://waimai.jhcms.cn/admin/?waimai/order-index-1-2.html">待配送订单（外卖）
                                        <text class="num fr">129</text>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://waimai.jhcms.cn/admin/?waimai/order-index-1-2.html">待配送订单（外卖）
                                        <text class="num fr">129</text>
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="http://waimai.jhcms.cn/admin/?waimai/order-index-1-2.html">待配送订单（外卖）
                                        <text class="num fr">129</text>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://waimai.jhcms.cn/admin/?waimai/order-index-1-2.html">待配送订单（外卖）
                                        <text class="num fr">129</text>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://waimai.jhcms.cn/admin/?waimai/order-index-1-2.html">待配送订单（外卖）
                                        <text class="num fr">129</text>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://waimai.jhcms.cn/admin/?waimai/order-index-1-2.html">待配送订单（外卖）
                                        <text class="num fr">129</text>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://waimai.jhcms.cn/admin/?waimai/order-index-1-2.html">待配送订单（外卖）
                                        <text class="num fr">129</text>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://waimai.jhcms.cn/admin/?waimai/order-index-1-2.html">待配送订单（外卖）
                                        <text class="num fr">129</text>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="titem-l1  titem-l3">
                        <ul>
                            <li class="">
                                <a href="javascript:;">
                                    <h4>当前平台资金(￥)</h4>
                                    <div class="num">306707790.67</div>
                                    <div class="black9">
                                        <p>会员余额(￥)：306603985.70</p>
                                        <p>可提现余额(￥)：306641914.27</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <h4>可提现(￥)</h4>
                                    <div class="num">37928.57</div>
                                    <div class="black9">
                                        <p>商家(￥)：32223.87</p>
                                        <p>骑手(￥)：5703.70</p>
                                        <p>地推(￥)：1.00</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <h4>未入账(￥)</h4>
                                    <div class="num">65876.4</div>
                                    <div class="black9">
                                        <p>商家(￥)：58331.02</p>
                                        <p>骑手(￥)：7545.38</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <h4>已提现(￥)</h4>
                                    <div class="num">8976.18</div>
                                    <div class="black9">
                                        <p>商家(￥)：8910.18</p>
                                        <p>骑手(￥)：64.00</p>
                                        <p>地推(￥)：2.00</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="titem-l1 titem-l4">
                        <div class="">
                            <h3>常用功能</h3>
                            <ul>
                                <li>
                                    <a href="javascript:;"><img src="__AIMG__/time.png" class="ico">数据统计</a>
                                </li>
                                <li>
                                    <a href="javascript:;"><img src="__AIMG__/time.png" class="ico">数据统计</a>
                                </li>
                                <li>
                                    <a href="javascript:;"><img src="__AIMG__/time.png" class="ico">数据统计</a>
                                </li>
                                <li>
                                    <a href="javascript:;"><img src="__AIMG__/time.png" class="ico">数据统计</a>
                                </li>
                                <li>
                                    <a href="javascript:;"><img src="__AIMG__/time.png" class="ico">数据统计</a>
                                </li>
                                <li>
                                    <a href="javascript:;"><img src="__AIMG__/time.png" class="ico">数据统计</a>
                                </li>
                                <li>
                                    <a href="javascript:;"><img src="__AIMG__/time.png" class="ico">数据统计</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="titem2"></div>
                </div>
                <div class="titem-right">
                    <div>
                        <h3>系统动态</h3>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <span>02-09</span>
                                    【共贺小年】江湖外卖3.8升级来啦！
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>02-09</span>
                                    【共贺小年】江湖外卖3.8升级来啦！
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>02-09</span>
                                    【共贺小年】江湖外卖3.8升级来啦！
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div>
                        <h3>江湖通告</h3>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <span>02-09</span>
                                    【共贺小年】江湖外卖3.8升级来啦！
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>02-09</span>
                                    【共贺小年】江湖外卖3.8升级来啦！
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>02-09</span>
                                    【共贺小年】江湖外卖3.8升级来啦！
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="__AJS__/jquery-2.1.0.js"></script>
</body>
</html>
