{__NOLAYOUT__}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单管理-进行中</title>
		<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
		<script type="text/javascript" src="__WEB__/__AJS__/jquery-2.1.0.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="__WEB__/__ACSS__/heard.css" />
		<link rel="stylesheet" href="__WEB__/__ACSS__/Merchant.css" />
	</head>
	<body>
		
			
			<!--
            	作者：offline
            	时间：2018-05-14
            	描述：订单管理进行中内容部分
            -->
            <div class="have_hand">
            	<div class="havehand_con">
            		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 havehand_title">
            			<div class="havehand_item1 havehand_item">
            				<span class="havehend_font">订单类型</span>
            				<span class="havehen_span1 havehen_span "><i></i>普通订单</span>
            				<span class="havehen_span2 havehen_span have_active"><i></i>预订单</span>
            				<span class="havehen_span3 havehen_span"><i></i>到店自取</span>
            			</div>
            			<div class="havehand_item2 havehand_item">
            				<span class="havehend_font">预订单状态</span>
            				<span class="havehen_span1 havehen_span"><i></i>未到预订时间</span>
            				<span class="havehen_span2 havehen_span have_active"><i></i>60分钟内需送达的订单</span>
            				<span class="havehen_span3 havehen_span"><i></i>已过期订单</span>
            			</div>
            			<div class="havehand_item3 havehand_item">
            				<span class="havehend_font">预订单状态</span>
            				<span class="havehen_span1 havehen_span have_active"><i></i>全部</span>
            				<span class="havehen_span2 havehen_span"><i></i>有效订单</span>   【
            				<span class="havehen_span3 havehen_span"><i></i>代配送</span>
            				<span class="havehen_span4 havehen_span"><i></i>配送中</span>
            				<span class="havehen_span5 havehen_span"><i></i>催单</span>
            				<span class="havehen_span6 havehen_span"><i></i>退款     】 </span>
            				<span class="havehen_span7 havehen_span"><i></i>无效订单</span>
            			</div>
            		</div>
            		
            		
            		<!--订单管理订单内容-->
            		<div class="havehand_cen col-sm-8 col-xs-8 col-md-8 col-lg-8">
            			<!--第一部分-->
            			<div class="havehand_cen1 havehande_cen">
            				<!--1-->
            				<div class="havecen1_title">
            					<span class="title_font">预订单</span>|<span>建议19:45前送达</span>
            				</div>
            				<!--2-->
            				<div class="havecen1_new">
            					<div class="havenew_name">
            						<p class="name">王女士<span>15520640202</span></p>
            						<p class="adress">石小路165号10楼1室<span><i><img src="__WEB__/__AIMG__/address.png"/></i>1.6km</span></p>
            					</div>
            					<div class="havenew_cao">
            						<a href="javascript:;" class="cao_close">取消订单</a>
            						<a href="javascript:;" class="cao_tui">部分退款</a>
            					</div>
            				</div>
            				<!--3-->
            				<div class="haveshop_new">
            					<div class="haveshop_news">
            						<p>商品信息<a href="javascript:;" class="shouqi">收起<i><img src="__WEB__/__AIMG__/shouqi.png"/></i></a></p>
            					
	            					<div class="haveshop_itmes">
	            						<span class="haveshop_itme1">泡脚牛肉盖饭</span>
	            						<span class="haveshop_itme2">￥16.00</span>
	            						<span class="haveshop_itme3">x1</span>
	            						<span class="haveshop_itme4">￥16.00</span>
	            					</div>
	            					<div class="haveshop_itmes">
	            						<span class="haveshop_itme1">泡脚牛肉盖饭</span>
	            						<span class="haveshop_itme2">￥16.00</span>
	            						<span class="haveshop_itme3">x1</span>
	            						<span class="haveshop_itme4">￥16.00</span>
	            					</div>
	            					
	            					
	            					
            					</div>
            					
            					
            					
            					<p class="subtotal">小计<span>￥48.00</span></p>
            					<p class="Service">平台服务费<span>-￥8.00</span></p>
            					<p class="income">本单预计收入<span>￥40.00</span></p>
            					<p class="con_prin"><a href="javascript:;" class="Consultation">客服咨询</a><a href="javascript:;" class="Printing">打印订单</a></p>
            					
            				</div>
            				<p class="time_ding">2017-12-12 12:21 <span>订单号：1234154648654</span></p>
            			</div>
            			
            			
            			<!--第二部分-->
            			<div class="havehand_cen1 havehande_cen">
            				<!--1-->
            				<div class="havecen1_title">
            					<span class="title_font">预订单</span>|<span>建议19:45前送达</span>
            				</div>
            				<!--2-->
            				<div class="havecen1_new">
            					<div class="havenew_name">
            						<p class="name">王女士<span>15520640202</span></p>
            						<p class="adress">石小路165号10楼1室<span><i><img src="__WEB__/__AIMG__/address.png"/></i>1.6km</span></p>
            					</div>
            					<!--<div class="havenew_cao">
            						<a href="javascript:;" class="cao_close">取消订单</a>
            						<a href="javascript:;" class="cao_tui">部分退款</a>
            					</div>-->
            				</div>
            				<!--3-->
            				<div class="haveshop_new">
            					<div class="haveshop_news">
            						<p>商品信息<a href="javascript:;" class="shouqi">收起<i><img src="__WEB__/__AIMG__/shouqi.png"/></i></a></p>
            					
	            					<div class="haveshop_itmes">
	            						<span class="haveshop_itme1">泡脚牛肉盖饭</span>
	            						<span class="haveshop_itme2">￥16.00</span>
	            						<span class="haveshop_itme3">x1</span>
	            						<span class="haveshop_itme4">￥16.00</span>
	            					</div>
	            					<div class="haveshop_itmes">
	            						<span class="haveshop_itme1">泡脚牛肉盖饭</span>
	            						<span class="haveshop_itme2">￥16.00</span>
	            						<span class="haveshop_itme3">x1</span>
	            						<span class="haveshop_itme4">￥16.00</span>
	            					</div>
	            					
	            					
	            					
            					</div>
            					
            					
            					
            					<p class="subtotal">小计<span>￥48.00</span></p>
            					<p class="Service">平台服务费<span>-￥8.00</span></p>
            					<p class="income">本单预计收入<span>￥40.00</span></p>
            					<p class="con_prin"><a href="javascript:;" class="Consultation">客服咨询</a><a href="javascript:;" class="Printing">打印订单</a></p>
            					<div class="refund">
            						<p>客服申请退款</p>
            						<div class="refund_con">
            							<div class="refund_item1 refund_item">
            								<i class="ref_i"></i>
            								<p class="ref">28分钟后将自动退款</p>
            								<span><a href="javascript:;" class="Agree">同意</a><a href="javascript:;" class="refuse">拒绝</a></span>
            							</div>
            							<div class="refund_item2 refund_item">
            								<i></i>
            								<p>客户申请全部退款</p>
            								<span>理由：你没货了</span>
            							</div>
            						</div>
            					</div>
            				</div>
            				<p class="time_ding">2017-12-12 12:21 <span>订单号：1234154648654</span></p>
            			</div>
            		</div>
            		
            		
            		
            		
            		
            		<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 havehan_cen">
            			<div class="Survey">
            				<p>今日订单概况</p>
            				<span class="survey_item"><b>已接订单</b><i>1笔</i></span>
            				<span class="survey_item"><b>预订单</b><i>1笔</i></span>
            				<span class="survey_item"><b>退款订单</b><i>0笔</i></span>
            				<span class="survey_item"><b>今日营业额</b><i>236元</i></span>
            			</div>
            		</div>
            		
            		
            		
            		
            	</div>
            </div>
			
			
			
			
	
		
		
		
	</body>
</html>
<script type="text/javascript" src="__WEB__/__AJS__/jquery-2.1.0.js" ></script>
<script>
	$(function(){
		//点击切换
		$(".havehand_title .havehand_item").find(".havehen_span").on("click",function(){
			$(this).addClass("have_active").siblings().removeClass("have_active");
		})
		//点击收起放开
		var fage=true;
		$(".haveshop_new .haveshop_news p").find(".shouqi").on("click",function(){
			if(fage==true){
				$(this).parent().parent().css({"height":"30px","overflow":"hidden"});
				var a_img="放开<i><img src='__WEB__/__AIMG__/fangchu.png'/></i>"
				$(this).html(a_img);
				fage=false;
			}else{
				$(this).parent().parent().css({"height":" ","overflow":""});
				var a_img="收起<i><img src='__WEB__/__AIMG__/shouqi.png'/></i>"
				$(this).html(a_img);
				fage=true;
			}
		})
	})
</script>